<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="Keboola" />
    <add key="MicrosoftAppId" value="b29a96ba-7665-430f-9e5f-a9819fd1d8a8" />
    <add key="MicrosoftAppPassword" value="feapJFiuL534YOYbQ3nH2cd" />
  </appSettings>
  <system.web>

  </system.web>
</configuration>