<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://keboolachatbottest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>keboolachatbottest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>KeboolaChatbotTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$KeboolaChatbotTest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DatabaseContext" Order="1" Enabled="False">
          <Destination Path="Data Source=keboola.database.windows.net;Initial Catalog=KeboolaDatabase;Persist Security Info=True;User ID=Keboola;Password=sdbvjia66*" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="KeboolaChatbot.DatabaseContext, Bot Application1" MigrationConfiguration="KeboolaChatbot.Migrations.Configuration, Bot Application1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DatabaseContext-Web.config Connection String">
      <ParameterValue>Data Source=keboola.database.windows.net;Initial Catalog=KeboolaDatabase;Persist Security Info=True;User ID=Keboola;Password=sdbvjia66*</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>