@model IEnumerable<Keboola.Bot.Editor.Models.UserExt>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Username
        </th>
        <th>
            Channel ID
        </th>
        <th>
            Active
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserChannel.FriendlyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserChannel.FriendlyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActivatedStr)
            </td>

        </tr>
    }

</table>